<%- include("partials/header.ejs") %>

<h1> About Us </h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus elit elit, in sodales dolor interdum non. Aliquam convallis dolor a justo tincidunt, sit amet placerat metus iaculis. In ligula sapien, facilisis imperdiet facilisis vel, tempus eu tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut et dapibus mi. Curabitur eget hendrerit ex. Pellentesque lacinia cursus ante, ac lacinia nunc facilisis non. Donec massa libero, lobortis id ultrices vel, dictum ac leo. Nulla convallis quam in purus dignissim condimentum. Proin est leo, molestie eget tempor vel, congue vitae diam. Cras ullamcorper leo a dolor bibendum faucibus.
</p>

<%- include("partials/footer.ejs") %>