.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    font-family: "Poppins";
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    background-color: #A3FFD6;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    font-family: "Poppins";
    color: #1679AB !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
    font-family: "Poppins";
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
    background-color: #E8EFCF;
	/* background-color: #1abc9c; */
}

.footer p {
    font-family: "Poppins";
	margin-top: 25px;
	font-size: 12px;
    color: #000;
}

.postStyle{
    box-shadow: 1px 1px 1px 1px #D3D3D3;
    margin-bottom: 1px;
}